@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
/*seletor global*/
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
/*scroll suave sem javascript*/
html {
    scroll-behavior: smooth;
}
/*utilizado para dividir as seções da página*/
.linhadiv {
    border: none;
    background-color: #202020;;
    height: 1px;
}
/*container header da página */
.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #101013;
}
/*container de estilo do menu de navegação do cabeçalho(header) */
.style-nav-header {
    display: flex;
    justify-content: space-between;
    /*1rem = 16px, 96px de distância do display search para o logo no header*/
    margin-left: 6rem;
}
/*posicionamento da imagem do logo dentro do container */
.style-logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*correção feita, tirei a largura e altura da imagem e configurei no css..*/
.style-logo-header img {
    width: 200px;
    height: 150px;
}
/*container de estilo do display search no menu*/
.container-search {
    display: flex;
    align-items: center;
    justify-content: center;
    /*4 * 16 = 64px de altura*/
    height: 4rem;
    background-color: #101013;
}
/*estilização do input, entrada do texto de pesquisa*/
.search-input {
    outline: none;
    color: #fff;
    height: 30px;
    background-color: transparent;
    inline-size: 700px;
    /*Os quatro valores border-radius representam os cantos 1-superior esquerdo,
    2-superior direito, 3-inferior direito e 4-inferior esquerdo respectivamente,
    nessa ordem*/
    border-radius: 5px 0 0 5px;
    border: 1px solid #6833e4;
    cursor: pointer;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 0 4px #6833e4;
    font-size: 1rem;
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    border: 1px solid #6833e4;
    background-color: #6833e4;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 0 4px #6833e4;
    height: 32px;
    width: 40px;
    outline: none;
    border: none;
    cursor: pointer
}
.container-menu {
    display: flex;
    align-items: flex-start;
}
.container-acesso {
    display: flex;
    justify-content: center;
    align-items: center;
    /*1rem = 16px, 96px de distância do container-acesso para o search*/
    margin-left: 6rem;
}
.area-acesso {
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar-acesso {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none; 
}
.login {
    display: flex;
    cursor: pointer;
}
.login span {
    font-size: 100;
    margin: auto;
    color: #fff;
    padding: 10px 2px;
}
#icon {
    color: #6833e4;
}
#entrar {
    font-size: 0.75rem;
    font-weight: bold;
    opacity: 0.9;
}
.carcompras, 
.favoritos {
    display: flex;
    cursor: pointer;
}
.carcompras span,
.favoritos span {
    font-size: 100;
    margin: auto;
    color: #fff;
    padding: 10px 2px;
}
#btn-criarconta {
    list-style-type: none;
}
.button-criarconta {
    display: flex;
    margin-left: 15px;
    color: #fff;
    border: solid;
    border-color: #6833e4;
    border-width: 1px;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.4s;
    cursor: pointer;
    
}
.button-criarconta:hover {
    background-color:  #6833e4;
}
.button-criarconta a {
    color: #fff;
    margin: auto;
    font-size: 0.75rem;
    font-weight: bold;
    opacity: 0.9;
    cursor: pointer;
}
.button-carrinho,
.button-favoritos {
    list-style-type: none;
    margin-left: 15px;
}

.nav-list {
    min-width: 1400px;
    height: 50px;
    background-color: #101013;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 10rem;
}
#nav-item {
    margin: 0 20px;
    opacity: 0.5;
    transition: 0.4s;
}
#nav-item:hover{
    opacity: 0.9;
}
/*animação da parte de baixo dos textos do menu*/
.nav-link {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}
.nav-link:after {
    content: "";
    position: absolute;
    background-color: #6833e4;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -30px;
    transition: 0.4s;
}
.nav-link:hover:after {
    width: 100%;
}
#carrosel-boot {
    background-color: #101013;
    width: 100%;
}
#img-carrosel {
    width: 100%;
}
.container-img{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #101013; 
}
.marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101013;
}
.nav-marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101013;
    inline-size: 1000px;
    margin: 50px auto;
}
#marcas-item {
    margin: 0 15px;
    cursor: pointer;
}
#textosh2 {
    margin-left: 2rem;
    color: #fff;
    opacity: 0.9;
    font-size: 1.5rem;
}
#destaques,
#mais-vendidos {
    background-color: #101013;
}
.recentes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
}
.container-object {
    background-color: #101013;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: 0.4s;
    cursor: pointer;
    padding: 20px;
}
.container-object:hover {
    border: 1px solid #6833e4;
    box-shadow: 0 0 5px #6833e4;
}
#container-img {
    padding: 25px;
}
#container-img figure {
    width: 100%;
    height: 100%;
}
#container-img figure img{
    background-color: #101013;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    transition: 0.4s;
    cursor: pointer;
}
.nav-container-inner {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-txtanuncio {
    display: flex;
    justify-content: center;
    align-items: center;
}
#texto-anuncio,
#gatilho-preco {
    text-align: center;
    color: #fff;
    opacity: 0.8;
    font-size: 1rem;
}
#preco-produto {
    color: #6833e4;
    font-style: bold;
    font-size: 1.3rem;
}
.area-compra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#icon-compra {
    font-size: 30px;
    color: #6833e4;
    margin: auto;
    opacity: 0.9;
    cursor: pointer;
}
.btn-carrinho, 
.btn-favoritos {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-carrinho span,
.btn-favoritos span {
    font-size: 200px;
    color: #fff;
    border-radius: 6px;
    transition: 0.4s;
}
.btn-comprar {
    padding: 10px 15px;
    display: flex;
    margin-left: 15px;
    color: #fff;
    border: solid;
    border-color: #6833e4;
    border-width: 1px;
    background-color: transparent;
    border-radius: 6px;
    transition: 0.4s;
    cursor: pointer;
    
}
.btn-comprar:hover {
    background-color:  #6833e4;
}
.btn-comprar a {
    color: #fff;
    margin: auto;
    font-weight: bold;
    opacity: 0.9;
    cursor: pointer;
}
.btn-carrinho,
.btn-favoritos {
    margin-left: 15px;
}
.recentemente-vendidos {
    padding: 50px 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sobre {
    width: 100%;
    height: 700px;
    background-color: #101013;  
}
.sobre-geek {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101013;
    height: 100%;
}
.sobre-geek article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 25px;
}
.sobre-geek figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 25px;
}
.sobre-geek figure img{
    border-radius: 6px;
}
#texto-funkonageek{
    line-height: 30px;
    color: #fff;
    opacity: 0.8;
    font-size: 1.2rem;
}
.style-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121214;
}
.style-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1320px;
    background-color: #121214;
}
.style-content {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;  
}
.style-logo-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.style-logo-left img{
    width: 250px;
    height: 200px;
}
.style-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
}
.style-title {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
}
.style-item-navfooter {
    list-style-type: none;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
}
.style-item-navfooter a {
    color: #fff;
    opacity: 0.5;
    transition: 0.4s;
    cursor: pointer;
}
.style-item-navfooter a:hover {
    opacity: 0.9;
}
.style-item-navfooter a{
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    font-family: Roboto,sans-serif;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
}
.style-item-navfooter a:after{
    content: "";
    position: absolute;
    background-color: #6833e4;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.4s;
}
.style-item-navfooter a:hover:after {
    width: 100%;
}
.style-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 112px;
}
.style-social-icons {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.style-navsocial {
    display: flex;
    justify-content: center;
    align-items: center;   
}
.style-navsocial a {
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #161616;
    cursor: pointer;
    transition: 0.4s;
}
.style-navsocial a:hover {
    background-color: #202020;
}
.style-navsocial a svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    color: #6833e4;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.style-btnhome-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #161616;
    width: 48px;
    height: 48px;
    cursor: pointer;  
    transition: 0.4s;
}
.style-btnhome-footer:hover {
    background-color: #202020;
}
.style-btnhome-footer svg { 
    color: #fff;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
}

